header{
	width:100%;
	height:100px;
	background-color:blue;
}

footer{
	width:100%;
	height:100px;
	background-color:blue;
}

.content{
	padding:30px;
	min-height:600px;
}

.section{
	width:50%;
	padding:10px;
}

#info{
	width:50%;
	min-height:400px;
	float:right;
	padding:10px;
}
.price{
	float:right;
}